@font-face 
  font-family: "Century Gothic "
  src: url("/fonts/GOTHIC.TTF")
  //IE9 Compat Modes
  src: url("/fonts/GOTHIC.TTF") format("truetype")
  // Legacy iOS
  font-style: normal
  font-weight: 900

@font-face 
  font-family: "Century Gothic Bold"
  src: url("/fonts/GOTHICB.TTF")
  //IE9 Compat Modes
  src: url("/fonts/GOTHICB.TTF") format("truetype")
  // Legacy iOS
  font-style: normal
  font-weight: 900