@font-face 
  font-family: "Helvetica Neue"
  src: url("#{$fontPath}/HelveticaNeue_gdi.eot")
  //IE9 Compat Modes
  src: url("#{$fontPath}/HelveticaNeue_gdi.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/HelveticaNeue_gdi.woff") format("woff"), url("#{$fontPath}/HelveticaNeue_gdi.ttf") format("truetype"),
  // Legacy iOS
  font-style: normal
  font-weight: 400

@font-face 
  font-family: "Trade Gothic Nike"
  src: url("#{$fontPath}/TradeGothicforNike365-BdCn_gdi.eot")
  //IE9 Compat Modes
  src: url("#{$fontPath}/TradeGothicforNike365-BdCn_gdi.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/TradeGothicforNike365-BdCn_gdi.woff") format("woff"), url("/fonts/TradeGothicforNike365-BdCn_gdi.ttf") format("truetype")
  // Legacy iOS
  font-style: normal
  font-weight: 400