<div class="feature-wrapper">
  <div class="feature-container">
    <div class="author-band">
      <p> BY <span>STEPHANIE LONSDALE</span> ON JUNE 30, 2015 8:15PM</p>
    </div>
    <%= image_tag "main-feature/main-feature-standin.png", :class => "mf_hero" %>
    <div class="feature-info">
      <div class="feature-info-container">
        <%= image_tag "main-feature/album-cover.png", :class => "album-cover mfac" %>
        <div class="find-at">
          <p> FIND AT: </p>
          <p> Insomnia | Amazon MP3 & CD </p>
        </div>
      </div>
    </div>
  </div>
</div>