<ul class="nav-buttons">
  <li><%= image_tag "/images/footer/footer_peg.png" %></li>
  <li><%= image_tag "/images/footer/footer_elite.png" %></li>
  <li><%= image_tag "/images/footer/footer_zoom_family.png" %></li>
</ul>
