<ul class="nav-buttons">
  <li class="peg-footer"><%= image_tag "/images/footer/footer_peg.png" %></li>
  <li class="elite-footer"><%= image_tag "/images/footer/footer_elite.png" %></li>
  <li class="zoom-footer"><%= image_tag "/images/footer/footer_zoom_family.png" %></li>
</ul>
<ul class="nav-words white">
  <li class="words-peg-footer">NIKE AIR ZOOM PEGASUS 32</li>
  <li class="words-elite-footer">NIKE AIR ZOOM ELITE 8</li>
  <li class="words-zoom-footer">NIKE ZOOM FAMILY</li>
</ul>
<div class="overlay-1"></div>
<div class="overlay-2"></div>
<div class="overlay-3"></div>
