<section class="footer">
  <div class="ft">
    <div class="footer-triangle"></div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-container">
      <%= image_tag "footer/footer-logo.png", :class => "footer-logo" %>
      <div class="rights">
        <p> &#169; <%= Time.now.year %> Castle Noise Media Inc. <p>
        <p> All Right Reserved </p>
      </div>
      <div class="footer-details">
        <p>sdfsadfasd</p>
        <p>sasdfasfd</p>
      </div>
    </div>
  </div>
</section>