<div class="main">
  <div class="header-image"></div>
  <div class="open_close">
    <p>EXPLORE</p>
    <p style="display:none">CLOSE</p>
    <div class="handle-icons header stack menu-toggle">
      <%= image_tag "/images/header/open_icon.png", :class => "open-icon" %>
      <%= image_tag "/images/header/close_icon.png", :class => "close-icon" %>
    </div>
  </div>
</div>