<section class="header">
  <div class="header-wrapper">
    <div class="header-container">
      <div class="triangle">
        <%= image_tag "hamburger.png", :class => "hamburger" %>
      </div>
      
      
    </div>
  </div>
</section>