<section class="header">
  

  <nav>
    <ul class="menu">
      <li><a href="">item1</a></li>
      <li><a href="">item2</a></li>
      <li><a href="">item3</a></li>
      <li><a href="">item4</a></li>
      <li><a href="">item5</a></li>
    </ul>
  </nav>
    <!-- <div id="main-content"> -->
        <div class="triangle">
          <%= image_tag "hamburger.png", :class => "hamburger" %>
        </div>

    <!-- </div> -->



  <div class="header-wrapper">
    <div class="header-container">
      <%= image_tag "logo.png", :class => "logo" %>
       <div class="header-info">
        <p> THIS WEEK'S FEATURES </p>
        <input type="text" placeholder="search" ></input>
      </div>
    </div>
  </div>
</section>