.elite8-hero
  background-image: url("#{$assetPath}/elite/elite_hero.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 733px
  height: 363px
  text-align: center

.elite8-tool-1
  margin-top: -64px
  margin-left: 347px

.elite8-tool-2
  margin-top: -88px
  margin-left: 169px

.elite8-tool-3
  margin-top: -172px
  margin-left: 369px
