.feature-container
  width: 1020px
  margin: 20px
  margin: auto

.feature-wrapper
  margin-left: 40px

.mf_hero
  width: 538px
  height: 300px
  display: inline-block
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)


.feature-info
  background-color: white
  height: 300px
  width: 440px
  display: inline-block
  margin-left: -4px
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)
  position: relative

.feature-info-container
  position: absolute
  width: 440px
  height: 300px

.author-band
  background-color: rgba(0,0,0,0.2)
  font-family: 'Century Gothic', sans-serif
  width: 538px
  position: absolute

  p
    padding-top: 5px
    padding-bottom: 5px
    padding-left: 10px
    font-size: 12px
    color: white
    margin: 0px

  span
    font-family: 'Century Gothic Bold', sans-serif
    color: #df1f55
.mfac
  margin-left: -38px
  margin-top: 9px

.album-cover
  width: 153px
  height: 153px

.find-at
  color: #5b5a5a
  font-family: 'Century Gothic Bold', sans-serif
  font-size: 10px
  padding-left: 10px
  line-height: 5px
