.feature-container
  width: 1020px
  margin: 20px
  margin: auto
  font-family: 'Century Gothic', sans-serif

.feature-wrapper
  margin-left: 40px
  height: 300px

.mf_hero
  width: 538px
  height: 300px
  display: inline-block
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)


.feature-info
  background-color: white
  height: 300px
  width: 440px
  display: inline-block
  margin-left: -4px
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)
  position: relative

.feature-info-container
  margin: 10px
  position: absolute
  width: 420px
  height: 280px

.author-band
  background-color: rgba(0,0,0,0.2)
  width: 538px
  position: absolute

  p
    padding-top: 5px
    padding-bottom: 5px
    padding-left: 10px
    font-size: 12px
    color: white
    margin: 0px

  span
    font-family: 'Century Gothic Bold', sans-serif
    color: #df1f55

.album-cover
  width: 153px
  height: 153px

.feature-find-at
  color: #5b5a5a
  font-family: 'Century Gothic Bold', sans-serif
  font-size: 10px
  line-height: 5px

.feature-track-info 
  width: 153px
  color: #5b5a5a
  margin-top: 43px

.feature-artist-name 
  font-family: 'Century Gothic Bold', sans-serif
  line-height: 5px

.feature-album-name
  line-height: 5px

.feature-record-label
  font-size: 10px
  color: #A8A5A5

.review-audio
  width: 200px
  display: inline

.feature-left
  width: 153px
  display: inline-block

.feature-right
  float: right
  width: 260px
  color: #5b5a5a

.feature-track-name
  text-align: center
  font-size: 12px


.short-review
  width: 200px
  font-size: 10px
  line-height: 14px
  margin: auto
