.nav-buttons
  width: 733px

  li
    display: inline-block

  img
    width: 241.3px

.nav-words
  margin-top: -40px

  li
    text-decoration: underline
    display: inline-block
    width: 241px
    font-size: 11px
    position: relative
    z-index: 6
  
.baby-carrot
  margin-top: -62px
  position: relative
  z-index: 12


.overlay-1
  width: 242px
  height: 43px
  background-color: rgba(0, 0, 0, 0.6)
  position: relative
  z-index: 2
  margin-top: -38px
  display: none

.overlay-2
  width: 242px
  height: 43px
  background-color: rgba(0, 0, 0, 0.6)
  position: relative
  z-index: 2
  margin-left: 245px
  display: none

.overlay-3
  width: 242px
  height: 43px
  background-color: rgba(0, 0, 0, 0.6)
  position: relative
  z-index: 2
  margin-left: 491px
  display: none