.header-image
  background-image: url(/images/header/main-header.png)
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 733px
  height: 199px
  text-align: center

.open_close 
  font-size: 18px
  margin-top: -45px
  float: right
  color: white
  display: inline
  cursor: pointer

.handle-icons img
  float: right
  margin-top: -52px
  margin-right: 15px

.open_close p
  display: inline-block
  margin-right: 55px

.close-icon 
  display: none

.stack 
  margin: 0 auto

.menu-toggle 
  padding: 1em

.explore 
  position: absolute
  min-height: 414px
  left: 0
  right: 0
  width: 100%
  text-align: center
  overflow: hidden
  z-index: 10

.explore > .explore-content
  margin: 0
  padding: 0
  min-height: 414px
  -webkit-transform: translateY(-100%)
  -ms-transform: translateY(-100%)
  transform: translateY(-100%)
  -webkit-transition: -webkit-transform 0.15s
  transition: transform 0.30s

.explore.open > .explore-content
  -webkit-transform: translateY(0)
  -ms-transform: translateY(0)
  transform: translateY(0)

.explore-content
  width: 733px
