.main
  background-image: url("#{$assetPath}/squairy_light.png")
  overflow: hidden

.header-wrapper
  height: 170px
  width: 1020px
  margin: auto

.header-container
  width: 100%
  display: block
  text-align: center
  color: #5b5a5a

.header-info 
  height: 70px
  margin-top: 63px
  margin-left: 20px
  margin-right: 20px
  p
    float: left
    font-family: 'Century Gothic Bold', sans-serif

  input
    float: right
    font-family: 'Century Gothic', sans-serif
    margin-top: 10px
    color: #5b5a5a
    outline: none
    border: none

  ::-webkit-input-placeholder 
    padding-left: 10px
    opacity: 0.5

  :-moz-placeholder
    padding-left: 10px
    opacity: 0.5

  ::-moz-placeholder
    padding-left: 10px
    opacity: 0.5

  :-ms-input-placeholder
    padding-left: 10px
    opacity: 0.5

.hamburger
  margin-left: -45px
  top: -75px
  position: absolute
  z-index: 2

.triangle
  width: 0
  height: 0
  border-top: 100px solid #E9CD11
  border-left: 100px solid transparent
  position: relative
  float: right


.logo
  margin-top: 40px

nav 
  width: 400px
  height: 13%
  float: right
  background-color: #E9CD11
  margin-right: -600px
  position: absolute
  right: 0 


nav ul 
  padding: 20px 10px


nav li 
  margin-bottom: 10px


nav a 
  text-decoration: none
  color: #FFF


#main-content 
  position: relative
  float: right
  width: 10%
  height: 100%
