.header-image
  background-image: url("#{$assetPath}/header/main-header.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 733px
  height: 199px
  text-align: center

.open_close 
  font-size: 18px
  margin-top: -45px
  float: right
  color: white
  display: inline
  cursor: pointer

.handle-icons img
  float: right
  margin-top: -22px
  margin-right: 29px

.open_close p
  display: inline-block
  margin-right: 55px
  margin-bottom: 5px

.close-icon 
  display: none

.stack 
  margin: 0 auto

.explore-content
  width: 733px
  height: 414px

.explore 
  width: 733px
  height: 0
  overflow: hidden
  -webkit-transition: height 1s ease-in-out
  -moz-transition: height 1s ease-in-out
  -ms-transition: height 1s ease-in-out
  -o-transition: height 1s ease-in-out
  transition: height 1s ease-in-out



