.past_feature-wrapper
  margin: auto 
  width: 1020px
  color: #5b5a5a

.past_feature-container
  margin-top: 62px
  padding-bottom: 100px

.past-album
  margin-right: 20px
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)

.past-album-covers
  text-align: center

.past-label
  font-family: 'Century Gothic Bold', sans-serif
  padding-bottom: 23px

.arrows 
  width: 20px

.left-arrow
  float: left
  margin-top: 66px
  margin-left: 19px

.right-arrow
  float: right
  margin-top: -162px
  margin-left: 19px

a.disabled
  text-decoration: none
  color: black
  cursor: default

li
  list-style: none
  display: inline-block

.past-artist
  font-size: 10px

.past-album-name
  font-size: 10px

.past-artists-details
  width: 152px


.info-hover-first
  background-color: white
  -moz-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  -webkit-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  position: absolute
  margin-top: -275px
  margin-bottom: 100px
  width: 350px
  height: 250px
  margin-left: 175px
  display: none

.info-hover-last
  background-color: white
  -moz-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  -webkit-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  position: absolute
  margin-top: -275px
  margin-bottom: 100px
  width: 350px
  height: 250px
  margin-left: -409px
  display: none

.author-banner
  background-color: rgba(0,0,0,0.2)
  position: absolute
  margin-top: 7px
  width: 350px

  p
    margin-top: 5px
    margin-bottom: 5px


.first-three-past
  .past-left-arrow
    margin-left: -338px
    margin-top: 90px

.last-two-past
  .past-left-arrow
    margin-left: 338px
    margin-top: 90px

.past-review-container
  text-align: justify

.past-review
  padding-bottom: 20px
  padding-left: 20px
  padding-right: 20px
  overflow: auto
  height: 130px
  margin-top: 32px
 
::-webkit-scrollbar 
  -webkit-appearance: none
  width: 7px

::-webkit-scrollbar-thumb 
  border-radius: 4px
  background-color: #FF2148
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5)


.info-hover-content
  font-family: 'Century Gothic', sans-serif
  margin-top: -150px
  font-size: 12px
  // display: none

.past-rating
  height: 25px
  margin-top: 41px

