.pegasus-hero
  background-image: url(/images/pegasus/pegasus_hero.png)
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 733px
  height: 363px
  text-align: center

.pegasus-tool-1
  margin-top: -58px
  padding-left: 84px

.pegasus-tool-2
  margin-top: -79px
  margin-left: -174px

.pegasus-tool-3
  margin-top: -163px
  padding-left: 5px
