.sub_feature-wrapper
  padding-top: 20px
  width: 1050px
  margin: auto
  color: #5b5a5a
  font-family: 'Century Gothic', sans-serif

.sub_feature
  background-color: #ffffff
  width: 1014px
  height: 153px
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)

.sub_feature-left
  margin-left: 0

  .author
    float: right

  .sub-left
    float: left

  .artist-quote
    margin-top: 36px
    margin-left: 115px
    width: 111px
    span
      font-size: 22px
      font-family: 'Century Gothic Bold', sans-serif

  .sub-review-controls
    margin-right: 26px

  .track-info
    padding-left: 170px
    line-height: 0.3
    margin-top: 35px

  .find-at
    font-size: 10px
    line-height: 0.5



.sub_feature-right 
  margin: 0 0 0 auto

  .author
    float: left

  .sub-right
    float: right

  .artist-quote
    margin-top: 20px
    margin-left: 25px
    width: 111px
    span
      font-size: 22px
      color: #5b5a5a

  .track-info
    padding-right: 170px
    line-height: 0.3
    margin-top: 92px
    text-align: right

.left-rating
  padding-left: 15px
  padding-top: 10px

.right-rating
  float: right
  padding-right: 15px
  padding-top: 10px

.author
  font-size: 12px

.left-sub
  height: 165px
  .review-credits
    padding-right: 20px
    font-family: 'Century Gothic', sans-serif
    color: #5b5a5a

    span
      color: #FF2159
      font-family: 'Century Gothic Bold', sans-serif

  .sub-feature-right-content
    width: 300px
    float: right
    display: inline-block

  .sub-feature-middle-content
    width: 300px
    display: inline-block
    text-align: center
    position: relative
    top: -78px
    left: -68px

  .sub-feature-left-content
    width: 400px
    display: inline-block

.right-sub
  height: 165px
  .review-credits
    padding-left: 20px
    font-family: 'Century Gothic', sans-serif
    color: #5b5a5a

  span
    color: #FF2159
    font-family: 'Century Gothic Bold', sans-serif

  .review-pull-container
    width: 138px

  .sub-feature-left-content
    width: 300px
    display: inline-block
    float: left

  .sub-feature-middle-content
    display: inline-block
    position: relative
    width: 300px
    text-align: center

  .sub-feature-right-content
    display: inline-block
    float: right
    width: 400px

  .sub-review-controls
    float: left
    padding-left: 25px

  .find-at
    text-align: center
    font-size: 10px
    line-height: 0.5


.artist-name, .find-at
  font-family: 'Century Gothic Bold', sans-serif

.record-label
  font-size: 10px
  color: #A8A5A5
  line-height: 1.5



.left-sub-review.full-sub-review
  background-color: white
  -moz-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  -webkit-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  position: relative
  padding-left: 2px
  padding: 30px 30px 30px 30px
  margin-bottom: 12px
  margin-top: -10px
  display: none
  z-index: 20
  margin-right: 35px
  width: 90.9%


.right-sub-review.full-sub-review
  background-color: white
  -moz-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  -webkit-box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  box-shadow: 0px 0px 3px rgba(136,136,138,0.4), -0px 0px 3px rgba(136,136,138,0.4)
  position: relative
  padding-left: 2px
  padding: 30px 30px 30px 30px
  margin-bottom: 12px
  margin-top: -10px
  display: none
  z-index: 20
  margin-left: 35px
  width: 90.9%


