.sub_feature-wrapper
  padding-top: 20px
  width: 1050px
  margin: auto

.sub_feature
  background-color: #ffffff
  width: 1014px
  height: 153px
  box-shadow: 0px 0px 5px rgba(136,136,138,0.4)

.sub_feature-left
  margin-left: 0
  .author
    float: right

  .sub-left
    float: left



.sub_feature-right 
  margin: 0 0 0 auto

  .author
    float: left

  .sub-right
    float: right
