.zoom-family-hero
  background-image: url("#{$assetPath}/zoom-family/zoom-family-hero.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 733px
  height: 363px
  text-align: center

.zoom-family-tool-1
  margin-top: -122px
  margin-left: 495px

.zoom-family-tool-2
  margin-top: -208px
  margin-left: 254px

.zoom-family-tool-3
  margin-top: -163px
  padding-left: 378px

.zoom-family-tool-4
  margin-top: -256px
  padding-left: 422px


.nzoom
  a
    color: white

.zoom-dialog
  margin-top: -47px
  position: absolute
  font-size: 12px
  margin-left: 38px

.zoom.dialog
  margin-top: -28px